<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #search (keyup)="buscar(search.value)" type="text" class="form-control" placeholder="Buscar médicos">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h3 class="card-title">Médicos (<small>{{ total }}</small>)</h3>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary pull-right" [routerLink]="['/medico', 'nuevo']">
              <i class="fa fa-plus"></i> Crear Médico</button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos">
                <td class="w70">
                    <img [src]="medico.img | imagen:'medico'" class="img50 img-circle pointer" (click)="mostrarModal(medico._id)">
                  </td>
              <td>{{ medico.nombre }}</td>
              <td>{{ medico.hospital.nombre }}</td>
              <td>
                  <button class="btn btn-primary" [routerLink]="['/medico', medico._id]">
                      <i class="fa fa-edit"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="borrarMedico(medico)">
                      <i class="fa fa-trash"></i>
                    </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="cambiarOffset(-5)" class="btn btn-secondary">
          Anteriores
        </button>
        &nbsp;
        <button (click)="cambiarOffset(5)" class="btn btn-secondary">
          Siguientes
        </button>
      </div>
    </div>
  </div>
</div>